<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta charset="us-ascii">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>
      .hour {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
      }

      .hour + .hour {
        border-top:0 ;
      }

      .week {
        text-align: center;
      }

      .section {
        padding-top: 50px;
      }

      .row {
        font-size: large;
      }

      .dailysummary {
        height: 90px;        
      }

    </style>
  </head>

  <body>
      <div class="container-fluid">
        <div class="row section">
          <div class="col-md-3">
            <canvas name="{{ forecast.currently().icon }}" width="384px" height="384px" ></canvas>
          </div>
          <div class="col-md-3">
              <h2>Right now</h2>
              <p style="font-size: 1.5em">
                {{ forecast.currently().temperature|round|int }} &deg;C<br />
                {{ forecast.currently().summary }}<br />
              </p>
          </div>
          <div class="col-md-6">
            <div class="row">
              <h2>Today</h2>
            </div>
            {% for i in range(0, 7) %}
            <div class="row hour">
              <div class="col-md-2">
                <h3>{{ forecast.hourly().data[i].time|localtime }}</h3>
              </div>
              <div class="col-md-4">
                <canvas name="{{ forecast.hourly().data[i].icon }}" width="56" height="56"></canvas>
              </div>
              <div class="col-md-6">
                <h3>{{ forecast.hourly().data[i].temperature|round|int }} &deg;C {{ forecast.hourly().data[i].summary }}</h3>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <br /><br />
        <div class="row week section">
          {% for i in range(1, 5) %}
          <div class="col-md-3">
            <div class="row">
              <h2>{{ forecast.daily().data[i].time|weekday }}</h2>
            </div>
            <div class="row">
              <canvas name="{{ forecast.daily().data[i].icon }}" width="100%" height="100%"></canvas>
            </div>
            <div class="row dailysummary"><h3>{{ forecast.daily().data[i].summary }}</h3></div>
            <div class="row">High: {{ forecast.daily().data[i].temperatureMax|round|int }} &deg;C</div>
            <div class="row">Low: {{ forecast.daily().data[i].temperatureMin|round|int }} &deg;C</div>
          </div>
          {% endfor %}

        </div>
      </div>
      <script src="{{ url_for('static', filename='skycons.js') }}"></script>
      <script src="{{ url_for('static', filename='insert-skycons.js') }}"></script>
      <br /> <br /><p style="font-size: x-small; text-align: center; vertical-align: bottom;">Powered by <a href="http://forecast.io">Forecast</p>
    </body>
</html>
