<!DOCTYPE html>
<html>
  <head>
    <title>Skycons</title>
    <meta charset="us-ascii">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <style>
  .hour {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
   }

   .hour + .hour {
     border-top:0 ;
   }

   .week {
     text-align: center;
   }


  </style>
  </head>

  <body>

      <center><h1>Weather</h1></center>

<div class="container-fluid">
      <div class="row">
       <div class="col-md-6">

         <div class="row">
            <div class="col-md-6">
              <canvas id="clear-day" name="clear-day" width="256" height="256"></canvas>
            </div>
            <div class="col-md-6">
              <h2>Right now</h2>
              <p style="font-size: 1.5em">
                20C<br />
                Sunny<br />
              </p>
            </div>
          </div>
       </div>
       <div class="col-md-6">
         <div class="row">
           <h2>Today</h2>
         </div>
         <div class="row hour">
           <div class="col-md-2">
             <h3>1800</h3>
           </div>
           <div class="col-md-4">
             <canvas name="partly-cloudy-day" width="48" height="48"></canvas>
          </div>
          <div class="col-md-6">
             <h4>19C Partly cloudy</h4>
          </div>
        </div>
        <div class="row hour">
          <div class="col-md-2">
            <h3>1900</h3>
          </div>
          <div class="col-md-4">
             <canvas name="rain" width="48" height="48"></canvas>
         </div>
         <div class="col-md-6">
              <h4>12C Rain</h4>
         </div>
       </div>
       <div class="row hour">
         <div class="col-md-2">
           <h3>2000</h3>
         </div>
         <div class="col-md-4">
            <canvas name="partly-cloudy-night" width="48" height="48"></canvas>
        </div>
        <div class="col-md-6">
             <h4>12C Rain</h4>
        </div>
      </div>
      <div class="row hour">
        <div class="col-md-2">
          <h3>2100</h3>
        </div>
        <div class="col-md-4">
           <canvas name="partly-cloudy-day" width="48" height="48"></canvas>
       </div>
       <div class="col-md-6">
            <h4>12C Rain</h4>
       </div>
     </div>
     <div class="row hour">
       <div class="col-md-2">
         <h3>2200</h3>
       </div>
       <div class="col-md-4">
         <canvas name="clear-night" width="48" height="48"></canvas>
      </div>
      <div class="col-md-6">
           <h4>12C Rain</h4>
      </div>
    </div>


       </div>
     </div>
<br /><br />
     <div class="row week">
       <div class="col-md-3">
         <div class="row">
           <h3>Sunday</h3>
         </div>
         <div class="row">
           <canvas name="clear-day" width="100%" height="100%"></canvas>
         </div>
         <div class="row"><h4>Sunny</h4></div>
         <div class="row">&nbsp;</div>
         <div class="row">High: 20C</div>
         <div class="row">Low: 10C</div>
       </div>
       <div class="col-md-3">
         <div class="row">
           <h3>Monday</h3>
         </div>
         <div class="row">
           <canvas name="partly-cloudy-day" width="100%" height="100%"></canvas>
         </div>
         <div class="row"><h4>Partly cloudy</h4></div>
         <div class="row">&nbsp;</div>
         <div class="row">High: 18C</div>
         <div class="row">Low: 9C</div>
       </div>
       <div class="col-md-3">
         <div class="row">
           <h3>Tuesday</h3>
         </div>
         <div class="row">
           <canvas name="clear-day" width="100%" height="100%"></canvas>
         </div>
         <div class="row"><h4>Sunny</h4></div>
         <div class="row">&nbsp;</div>
         <div class="row">High: 21</div>
         <div class="row">Low: 12</div>
       </div>
       <div class="col-md-3">
         <div class="row">
           <h3>Wednesday</h3>
         </div>
         <div class="row">
           <canvas name="snow" width="100%" height="100%"></canvas>
         </div>
         <div class="row"><h4>Snow</h4></div>
         <div class="row">&nbsp;</div>
         <div class="row">High: 7C</div>
         <div class="row">Low: -3C</div>
       </div>

     </div>
</div>
    <script src="{{ url_for('static', filename='skycons.js') }}"></script>
    <script src="{{ url_for('static', filename='insert-skycons.js') }}"></script>

  </body>
</html>
